html {
    background-color: whitesmoke;
}

body {
    font-family:'Times New Roman', Times, serif;
    color: darkslategray;
}

h1 {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
}

table {

}

th {
    text-align: center;
    font-weight: 700;
    padding: 5px;
    color: whitesmoke;
    background-color: darkslategray;
}

td {
    padding: 5px;
    text-align: left;
}

.property {
    font-family: monospace;
    color: white;
    background-color: grey;
}

.center {
    margin-left: auto;
    margin-right: auto;
}