body {
  font-family: Helvetica;
}

h1 {
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*sxuf09*_ga*NTMzMjQ2ODMxMy4xNjk4MDg4NTgw*_ga_3LRZM6TM9L*MTcwNTM2OTU3Mi44LjEuMTcwNTM3Mzk3Ny41Mi4wLjA.);
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}
div {
  display: block;
}

.brushes {
  background-color: mediumspringgreen;
}

.frames {
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}

.price {
  font-weight: bold;
  color: blue;
}
