html {
  background-color: whitesmoke;
}

body {
  font-family: "Times New Roman", Times, serif;
  color: darkslategray;
  font-size: 16px;
}

h1 {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  padding: 25px;
}

table,
th,
td {
  border: 1px solid;
  border-color: darkslategray;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}

th {
  text-align: center;
  font-weight: 700;
  color: whitesmoke;
  background-color: darkslategray;
}

.property {
  font-family: monospace;
  font-size: small;
  color: white;
  background-color: grey;
  padding: 3px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
