body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
  align-content: center;
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  color: lightgray;
}

.header {
  padding: 60px;
  text-align: center;
  background: #333;
  color: white;
}

.header h1 {
  font-size: 50px;
  text-transform: uppercase;
}

.header p {
  font-size: 24px;
}

.container {
  padding: 20px;
}

.section {
  margin-bottom: 40px;
}

.section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.section p {
  font-size: 18px;
  line-height: 1.6;
}

.contact-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.contact-btn:hover {
  background-color: #575757;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}